---
layout: attachment
title: 'Ruben De Smet: Curriculum vitae'
date: 
type: attachment
published: false
status: inherit
categories: []
tags: []
meta:
  _wp_attached_file: 2015/12/cv_Ruben_De_Smet.pdf
  _edit_last: '1'
author:
  login: rubdos
  email: ruben.de.smet@rubdos.be
  display_name: rubdos
  first_name: Ruben
  last_name: De Smet
excerpt: Interested in my experience and past? Checkout my curriculum vitae or my
  resume, depending on how you like to call it.
---
<p>Seen an error? My CV is on <a href="https://gitlab.com/rubdos/cv">GitLab</a>, so you can always propose changes over there!</p>
<p>There's continuous integration on it too; you can fetch the latest build as a <a href="https://gitlab.com/rubdos/cv/builds">GitLab-CI artifact</a></p>
