<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>

        <p>{{ site.description | escape }}</p>

        <a href="https://liberapay.com/rubdos/donate">
          <img src="https://img.shields.io/liberapay/receives/rubdos.svg?logo=liberapay">
          <img src="https://img.shields.io/liberapay/patrons/rubdos.svg?logo=liberapay">
        </a>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}
          {% if site.researchgate_username %}
          <li>
            {% include icon-researchgate.html username=site.researchgate_username%}
          </li>
          {% endif %}
          {% if site.liberapay_username %}
          <li>
            {% include icon-liberapay.html username=site.liberapay_username%}
          </li>
          {% endif %}
          <li>
            <a rel="me" href="https://mastodon.social/@rubdos"><span class="icon icon--mastodon">{% include icon-mastodon.svg %}</span><span class="username">rubdos</span></a>
          </li>
          <li>
            <a rel="me" href="https://signal.me/#eu/snJWgAFbLBsBhexpsKuL2SpDuTgohfrfZqvz7C3oalAnZv2pAPdFxar-zJC-0bNE"><span class="icon icon--signal">{% include icon-signal.svg %}</span> <span class="username">rubdos.95</span></a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
