<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}
    {% if page.subtitle %}
     -- {{ page.subtitle }}
    {% endif %}
  </title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="me" href="https://mastodon.social/@rubdos">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/custom.css" | relative_url }}" />
  <script type="application/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  {% for js in page.custom_js %}
  <script type="application/javascript" src="{% if js contains 'http' %}{{ js }}{% else %}{{ js | relative_url }}{% endif %}"></script>
  {% endfor %}
  {% for css in page.custom_css %}
  <link rel="stylesheet" type="text/css" href="{{ css | relative_url }}" />
  {% endfor %}
  
  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</head>
