<a href="https://www.researchgate.net/profile/{{ include.username }}">
  <span class="icon icon--researchgate">
    <img src="/assets/researchgate.png" alt="Research Gate: {{ include.username }}" width="16pt" />
  </span>
  <span class="username">{{ include.username }}</span>
</a>
