<a href="https://liberapay.com/{{ include.username }}">
  <span class="icon icon--liberapay">
    <img src="/assets/liberapay.png" alt="Liberapay: {{ include.username }}" width="16pt" />
  </span>
  <span class="username">{{ include.username }}</span>
</a>
