tr > th {
    font-weight: normal;
    font-style: italic;
    color: #777;
    text-align: right;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: #DDDDDD;
    background-color: #DDDDDD;
}

img {
    margin: 5px;
}

ul.social-media-list li img {
    margin: 0px;
}

ul.social-media-list li .icon svg {
    width: 12pt !important;
    height: 12pt !important;
}

.post-content h2 {
    font-size: 1.3em;
}
