---
layout: post
title: Hello world!
date: 2015-12-13 15:53:21.000000000 +01:00
type: post
published: true
status: publish
categories: []
tags: []
meta:
  _edit_last: '1'
author: rubdos
---
<p>Hi! I'm Ruben and I finally registered my own personal domain name! Yay!</p>
<p>Let me introduce myself, I'm a computer science student (with an electrical engineering background) that's fond of free software. I'd like to share my opinions with the world, and therefor I started this blog. Hooray!</p>
