---
layout: post
title: Brother HL-L8250CDN under Linux
date: 2016-01-25 17:19:35.000000000 +01:00
type: post
published: true
status: publish
categories: []
tags: []
meta:
  _edit_last: '1'
author: rubdos
---
<p>Just a quick note: after a day of emailing with an understanding Brother support, it appears that if you want to get the HL-L8250CDN working under Arch Linux, and you're out of luck extracting the <code>.deb</code> and or the <code>.rpm</code> packages, you can use the - still proprietary, but working drivers for the HL-L8<strong>3</strong>50CD<strong>W</strong>.</p>
<p>Under Arch Linux, that means an easy <code>yaourt -S HL-L8350CDW</code>.</p>
<p>Afterwards, you just visit the <a href="http://localhost:631">cups web configuration utility</a> and add the printer there. Hint: use the AppSocket/HP JetDirect socket.</p>
<p>Brother Belgium cannot GPL their drivers, as Japan is the HQ in charge. "It's a bit like NVidia and AMD".</p>
<p>If you have a similar printer, want to get into reverse engineering and you're in a legislation that allows that (basically European Union, or you want to take the risk), get in touch with me. <a href="https://www.rubdos.be/consulting/">My contact details are on my consulting page.<br />
</a></p>
