---
layout: post
title: Zotac BI323 - great Kodi box (review)
date: 2016-05-05 20:44:51.000000000 +02:00
type: post
published: true
status: publish
categories:
- kodi
- linux
- multimedia
- review
tags: []
meta:
  _edit_last: '1'
author: rubdos
---
<p>Wanted to give some pointers on how you can use the <a href="https://www.zotac.com/us/product/mini_pcs/zbox-bi323">Zotac BI323</a>, and a review from a Linux user.</p>
<p>First off all: Zotac does not state this on their website, but this HTPC actually has a <a href="https://en.wikipedia.org/wiki/S/PDIF">S/PDIF</a> port. This is a huge plus.</p>
<h2>Specs</h2>
<ul>
<li class="col-right col">Intel Celeron N3150 quad-core 1.6GHz, up to 2.08GHz</li>
<li class="col-right col">I put in two SO-DIMMS (yes, it's laptop memory!) DDR3-1600 of 4GB, so 8GB in total</li>
<li class="col-right col">A small 60 GB Kingston SSD (not included) for fast booting. Storage is on the NAS on our LAN</li>
<li class="col-right col">
<div class="col-right col">HDMI, DisplayPort, VGA (we use the HDMI with our FullHD tv)</div>
</li>
<li class="col-right col">It's "4K ready".</li>
<li class="col-right col">
<div class="col-right col">3-in-1 (SD/SDHC/SDXC) / USB 3.0 port Combo</div>
</li>
<li class="col-right col">1 x USB 3.0 type-C (front) (which is a nice bonus!)</li>
<li class="col-right col">
<div class="col-right col">802.11ac (Intel Corporation Wireless 3160)</div>
</li>
<li class="col-right col">1 Gbit Ethernet</li>
<li class="col-right col">Bluetooth 4.0</li>
<li class="col-right col">S/PDIF</li>
</ul>
<p>Overall, this seems like a very nice configuration for a HTPC with <a href="http://kodi.tv">Kodi</a>, especially considering its price (€150 without SSD or RAM). There's no IR though, but we control Kodi using our smartphone.</p>
<p>Reading reviews on <a href="http://ark.intel.com/products/87258/Intel-Celeron-Processor-N3150-2M-Cache-up-to-2_08-GHz?q=n3150">the CPU</a>, it seems like it should handle 24 fps 4K footage in H265 smoothly, so it's also future proof, although I'd buy an i3 or even an i5.</p>
<h2>Software: Fedora 23</h2>
<p>I wanted a pretty recent kernel on that Zotac thingy, because I read a lot of comments on the stability of the N3150 under Linux. Fedora 23 comes with Linux 4.4, so that seemed pretty appropriate.</p>
<p>Then following <a href="http://kodi.wiki/view/HOW-TO:Install_Kodi_on_Fedora_23_using_RPMFusion_packages">the guide on kodi.wiki on installing Kodi</a>, I quickly ended up with a nice Kodi system.</p>
<p>(<a href="https://www.rubdos.be/2016/08/14/updated-the-zotac-bi323-to-fedora-24/">updated without <em>any</em> problem  at all to Fedora 24</a>)</p>
<h2>WiFi: Intel and TP-Link</h2>
<p>Apparently, Intel WiFi cards, combined with Linux and the TP-Link AC1200 Wireless Dual Band Gigabit Router, don't work as well as it could.</p>
<p>Starting with my Lenovo Thinkpad X250 with an Intel Wireless 7265, I seemed to have problems staying connected to that router. I thought it was something specific to my configuration (Arch Linux + 7265), but now it seems to be more all round.</p>
<p>The client (my laptop) asks for the WPA2 passphrase (NetworkManager), supplying the default password pre-filed. Pressing enter connects to the network just fine.</p>
<p>The Zotac doesn't connect to the WiFi at startup. We use <code>nmtui</code> now to connect after startup. After connecting the first time, the connection seems stable.</p>
<p>We have the same on a HP EliteBook we used to test Kodi on. This issue needs more investigation. It only happens on that specific router; my own TP-Link Archer C2 doesn't have this issue.</p>
<p>Apart from this little annoyance, we will probably just connect it with a cable in the future.</p>
<p>(<a href="https://www.rubdos.be/2016/08/14/updated-the-zotac-bi323-to-fedora-24/">seems to have to do something with 5GHz roaming</a>)</p>
<h2>Sound: pure ALSA over PulseAudio</h2>
<p>Another issue: we connect the Zotac using S/PDIF. That's a digital connection to our 5.1 amplifier. Sometimes this connection just stopped working.</p>
<p><a href="http://kodi.wiki/view/PulseAudio">On the Kodi wiki</a>, they state that Kodi also runs without PulseAudio. You can either force it using</p>
<pre>AE_SINK=ALSA Kodi</pre>
<p>Or just by uninstalling pulseaudio (and a big part of Gnome as it depends on Pulse, which is fine since we only use it with Kodi).</p>
<p>Now the S/PDIF device is one of the audio devices shown, and can be selected. Also, we can enable digital passthrough, and everything seems to work fine now.</p>
<p>Btw, the sound card uses a Realtek ALC892 chip, if you want to know that.</p>
<h2>4K support?</h2>
<p>I downloaded some <a href="http://kodi.wiki/view/Samples#HD_Audio_Test_Clips">test files</a> for testing the 5.1 sound, of which also the <a class="external text" href="http://demo-uhd3d.com/fiche.php?cat=uhd&amp;id=89" target="_blank" rel="nofollow">UltraHD HDR 10bit HEVC, 24fps</a>. This file is 24fps 4K footage, and regarding articles that appear in the wild on the internet, should play smooth. That's probably tested on a 4K screen though, not on our FullHD screen.</p>
<p>I think Kodi downscales the resolution, because the video isn't smooth at all. I suppose it will do well on a real 4K monitor though; but don't take my word for it.</p>
<p><em>daftykins</em> told me on the #kodi irc channel 4K should play smoothly at 30Hz (on a 4K screen, of course).</p>
<h2>Conclusion</h2>
<p>This Zotac machine is working nicely, although I don't think I would recommend it for 4K video. It's mostly Intel only, so works pretty much out of the box on Linux. PulseAudio doesn't seem to work well when using the S/PDIF connection, so you must use raw ALSA.</p>
<p>If you want to know something about this box, leave me a message. I'll have a look.</p>
