---
layout: post
title: What to do when Openshift gives you "Disk quota exceeded" when using PostgreSQL
date: 2016-09-28 18:42:47.000000000 +02:00
type: post
published: true
status: publish
categories: []
tags: []
meta:
  _edit_last: '1'
author: rubdos
---
<p>Second time I had this now. Context: <a href="https://www.thebountyrenderer.org">www.thebountyrenderer.org</a> is the website of TheBounty; it's a fork of <a href="http://www.yafaray.org">YafaRay</a>, and I am the guy managing the website. The thing is built on Ruby on Rails; custom downloads page (which I need to update for the Wings3D plugin. Soon™). It also has <a href="https://ankane.github.io/ahoy/">Ahoy</a>, which I intended to use for the website's usage statistics.</p>
<p>Ahoy generates a lot of content, apparently. I don't remember the exact last time when I had exceeded my disk quota on the free (as in price) <a href="http://www.openshift.com">OpenShift online service</a>, but I don't think it's been four months.</p>
<p>Anyway, the PostgreSQL gear has a quota of 1GB, and I exceeded it. If you know that you have a large table which you can do without, or you know how to delete a bunch of data in the database to restore your quota, this is how you do it. The first problem that arises is, when you login on your Rails/PHP/ whatever application gear, and use <code>psql</code> to access the database, <code>DELETE</code> statements won't work, and neither will <code>TRUNCATE</code> statements. That's because of the journaled nature of PostgreSQL; it creates a new file for each write operation, and that's exactly what you cannot do.</p>
<p>Here's how you actually <strong>can</strong> do it:</p>
<ol>
<li>Stop PostgreSQL. Easily done by <code>rhc tidy</code>, as it tries to restart your gear. Stopping will succeed, but starting won't because of your disk quota.</li>
<li>You login on your PostgreSQL gear (not your application gear). You can do that with <code>ssh [user]@[hostname]</code>. Your hostname is in <code>$OPENSHIFT_POSTGRESQL_DB_HOST</code> on your application gear, and your user is the part before your OpenShift domain.</li>
<li>Copy some unneeded data from your PostgreSQL gear somewhere outside OpenShift. Good candidates are in postgresql/versions (just take the whole directory) or the log files, if they are substantial enough.</li>
<li>Remove the files from the gear</li>
<li>Restart PostgreSQL (e.g. <code>rhc tidy</code> again will do that...)</li>
<li>Use <code>psql</code> on your website gear to <code>TRUNCATE</code> a table or <code>DELETE</code> some stuff. In my case, I truncated ahoy_events with <code>CASCADE</code>.</li>
<li>Use <code>VACUUM FULL;</code> in <code>psql</code> so PostgreSQL actually removes the data from its files.</li>
<li>Move the files you copied back it their original place.</li>
</ol>
<p>Things should be running smooth again. For now, I disabled Ahoy, as I don't really want to buy a larger database just for statistics.</p>
