---
layout: post
title: 'UPDATE 2: btrfs qgroups'
date: 2016-12-09 22:34:26.000000000 +01:00
type: post
published: true
status: publish
categories:
- btrfs
- linux
tags:
- btrfs
- linux
- qgroup
meta:
  _edit_last: '1'
  _oembed_bb0d629623d994524ac4bd8ff78bbfca: "{{unknown}}"
author: rubdos
---
<p>I am waiting for <code>btrfs</code> again. Glad it waited for the weekend now! :-)</p>
<p>I ran <code>snapper cleanup timeline</code>, and five minutes later, I had a system lock up! System wouldn't boot anymore, so the Fedora 25 live USB was booted again. (<code>dmesg</code>: <a href="https://paste.fedoraproject.org/502654/31421714/">https://paste.fedoraproject.org/502654/31421714/</a>)</p>
<p>The interesting lines (exactly 100 of them) are of this form:</p>
<pre><code>[  105.305599] BTRFS warning (device dm-2): orphan qgroup relation 0x2e8-&gt;0x20000000000c8</code></pre>
<p>So, it seems that snapper cleanup timeline started actually deleting stuff for the qgroups compliance, and that something went wrong there. I ended up pasting those log lines in a temporary file (/tmp/log), and constructed this one liner (that can probably be a lot shorter):</p>
<pre>cat /tmp/log | awk '{ print $10 }' | awk -F - '{ print $1 }' | xargs -n1 -I {} bash -c 'sudo btrfs qgroup destroy "$(({}))" /mnt'</pre>
<p>It takes all those warning lines, gets to the <code>0x2e8</code> part (which is the <code>qgroup</code> ID), and triggers a btrfs qgroup destroy on each of it.</p>
<p>I also started a <code>btrfs scrub</code>, which is slowly progressing its way through the SSD, with "0 errors", but with this line on the <code>btrfs scrub status</code>:</p>
<pre>WARNING: invalid data on line 1 pos 385 state 6 (near "-14115|canceled:0|fi") at cmds-scrub.c:638</pre>
<p>I'm currently just waiting for the scrub to finish. Seems to be a bit stuck at 40.72GiB.</p>
<p>EDIT: ended up disabling quota's, after some seconds the scrub continued, CPU usage dropped to normal, and everything seems fine now. Moral of the story: don't use quota's for now.</p>
