---
layout: post
title: TP-LINK default firmware is PITA
date: 2016-09-13 15:03:47.000000000 +02:00
type: post
published: true
status: publish
categories: []
tags: []
meta:
  _edit_last: '1'
  _oembed_0014c691e43dc1969b8517116d77261f: "{{unknown}}"
author: rubdos
---
<p>Our TP-LINK Archer AC router AC1200 rev 1.2 finally started behaving nicely!</p>
<p>I've set <a href="https://bugzilla.kernel.org/show_bug.cgi?id=120471">the bug I filed earlier with Intel</a> to INVALID, because it was not a bug with Intel, but with TP-LINK. Let's see if I can remember everything; it's been a week now. Been on the sunny Tenerife.</p>
<p>I'll first give a recap of the initial symptoms: on all our GNU/Linux based systems with Intel WiFi cards (which mostly comprises Thinkpads in our case, plus a <a href="https://www.rubdos.be/2016/05/05/zotac-bi323-great-kodi-box-review/">Zotac BI323</a>), connection with the AP would drop every now and then, and NetworkManager (or its GUI) would demand to re-enter the - prefiled - password. Very annoying because of two reasons: first of all, connection drops are painful; and second: having the NetworkManager GUI pop up with a "please enter your password" dialog, focussed on the password, makes you overwrite the password when you were already typing.</p>
<p>At first it only happened to my notebook (my lovely X250), so I didn't really care too much. Most of the time, I live in Brussels, out of the range of this AC1200. I started caring more when the T450 for my mother was bought, and showed the exact same symptoms on Ubuntu 16.04 x86-64. I especially started caring when the Kodi box couldn't mount its NFS volume on our NAS at boot because it wouldn't connect with the WiFi at boottime.</p>
<p><em>End of recap, beginning of investigation</em></p>
<p>The first thing I did was to run the relevant update command on every machine. The X250 got <code>pacman -Syu</code>, the T450 <code>apt-get upgrade</code>, the Zotac <code>dnf upgrade</code>, but that obviously didn't work.</p>
<p>Disabling powersafe in the kernel module, <a href="http://askubuntu.com/questions/583574/intel-dual-band-wireless-7265-dropping-connection">as suggested by The Interwebs</a>, also did not solve the problem.</p>
<p>Then I came to the conclusion that this must a bug of some sort. All those devices ran Intel wireless cards, so it must be Linux' Intel driver! I filed the mentioned bug report, and the Intel team was pretty fast responding to my query. I posted the firmware debug blob they requested and they found out that for some reason, our computers wanted to roam from 5 GHz to 2.4 GHz. They asked me to disable 5 GHz for now, which made the problem disappear indeed.</p>
<p>To find out why, I had to file more data, but I didn't have time for some weeks back then. Then at a certain moment my father said the connection stopped working entirely, and every device fell back on the WRT54 access point at the second floor of the building. Connection speed drops to 1 Mb/s then, because of concrete floors.</p>
<p>Then, I figured our problem wouldn't be the Intel cards. What if this happens to both bands simultaneously, and then comes back up? I figured the firmware used on the router must have been faulty. I flashed <a href="https://openwrt.org/">OpenWRT</a> on the device, and after some talking with the OpenWRT people on Freenode IRC, I got the 5 GHz module to behave. Instanteneously, all our devices connected, and since then, no connection drops were noticed.</p>
<p>And so here we are. My computer currently has 468 Mb/s connection, sometimes even peaking to 526.6 Mb/s or even 650 Mb/s. Awesome.</p>
<p>The only caveat for now:</p>
<blockquote><p><strong>Notes:</strong> The 802.11ac WLAN↔<abbr title="Local Area Network">LAN</abbr> throughput of Archer C7 2.0 with OpenWrt Chaos Calmer RC3 was measured to be substantially lower than that of the native firmware. (450 to 500Mbps with OpenWrt vs. 750 to 800Mbps with native firmware, both measured under conditions close to ideal). See <a class="urlextern" title="https://forum.openwrt.org/viewtopic.php?id=53703" href="https://forum.openwrt.org/viewtopic.php?id=53703" rel="nofollow">this thread</a> for details.</p></blockquote>
<p>Perhaps I should look into the "why" and "how" that is. Anyhow, UDP shouldn't have a problem, so I can configure the Zotac to use UDP for its NFS operations. NEEDSINFO and measurements though :)</p>
<p>Also: the hardware NAT is not supported (proprietary stuff, of course), so WAN↔LAN is also limited in speed to around 300 Mb/s. Not really a problem for us.</p>
<p>Anyhow, the router is fast and stable now. Yay!</p>
