---
layout: post
title: Rocket launches in an .ics file.
date: 2016-01-25 21:24:52.000000000 +01:00
type: post
published: true
status: publish
categories: []
tags: []
meta:
  _edit_last: '1'
author: rubdos
---
<p>As my girlfriend and I like to watch NASA TV (through Kodi!) whenever they live stream a launch, <a href="https://gitlab.com/rubdos/spaceflightcal">I wrote a little Python 3 script</a>, which takes <a href="http://spaceflightnow.com/launch-schedule/">a website I choose pretty randomly</a> and parses the HTML using beautifulsoup4 and spits out an .ics file.</p>
<p>That .ics file gets synced up with my Thunderbird. Now I'll never miss a launch again!</p>
<p>If you're lazy, you can add this url, https://www.rubdos.be/cal/events.ics to your Thunderbird, or whatever program that's capable of syncing iCal files.</p>
