---
layout: post
title: Updated the Zotac BI323 to Fedora 24
date: 2016-08-14 22:31:15.000000000 +02:00
type: post
published: true
status: publish
categories:
- fedora
- kodi
- linux
tags: []
meta:
  _edit_last: '1'
author: rubdos
---
<p>Quick note: I did the dnf commands that Fedora people use to upgrade their system on the Kodi Zotac HTPC via ssh. It just worked. It rebooted and went into Upgrade Mode (tm). It took a while, but after an hour or so, it rebooted again into Kodi!</p>
<p>I'm also still investigating the WiFi issues we have. Disabling the 5GHz band makes things work again; there's an <a href="https://bugzilla.kernel.org/show_bug.cgi?id=120471">open bug report</a> for this, but the Intel guys seem to be on vacation or something.</p>
