---
layout: page
custom_js:
 - "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.4/p5.min.js"
 - cg/lib.js
 - cg/project.js
---

<h2>Geometric trees</h2>

<p>
A geometric tree is a <a href="https://en.wikipedia.org/wiki/Tree_(disambiguation)">tree</a> which is drawn in 2D.
This definition can be extended to graphs: a geometric graph is a graph, drawn in the plane.
</p>

<p>
The edges of a tree can intersect with eachother (crossings).
A geometric tree that has no intersecting edges is called untangled.
<a href="https://link.springer.com/article/10.1007/s00454-008-9125-3">Bose, P., Dujmović, V., Hurtado, F., Langerman, S., Morin, P., &amp; Wood, D. R. have shown in 2009</a>
that it is possible to untangle a geometric <em>planar graph</em> by keeping at least <script type="math/tex">n^{1/4}</script> edges fixed.
Since this method is quite involved, I decided to show their other result: the untangling of a <em>tree</em>,
where they prove an untangling while keeping at least <script type="math/tex">\sqrt{n/2}</script> vertices on their original position.
</p>

<h2>Proof outline</h2>

Their proof is founded on two important properties.

<p>
The first property is the <a href="https://en.wikipedia.org/wiki/Erd%C5%91s%E2%80%93Szekeres_theorem">Erdős-Szekeres theorem</a>.
This theorem puts a lower bound on the length of a monotonically increasing subsequence of a sequence of distinct elements.
It will be those elements that will stay put on their original positions.
</p>

<p>
A second property is a short lemma they prove in their paper (Lemma 1), that says that if you have an untanglement of a graph,
where a bunch of elements reside on the y-axis, retaining their original x-coordinate,
there also exists an untanglement where those elements are in their original position.<br/>
In the implementation, the untanglement will be drawn in a gray color.
You can choose whether to show the result before, or after this lemma.
The result without the lemma neatly illustrates how the proof (and the devised algorithm) work.
The result after the lemma shows that at least <script type="math/tex">\sqrt{n/2}</script> vertices are unmoved,
but due to the need to rescale some vertices, some will reside outside the screen area.
</p>

<p>
The <em>Untangle</em> button will rescale all vertices to nicely fit the screenspace,
showing a final untangled graph.
</p>

<h2>Implementation</h2>

<p>
The proof given in the Bose et al. paper is for most part a constructive proof;
it can be used to construct an algorithm that untangles a tree.
</p>

<h3>Finding a subsequence</h3>

<p>
An interesting part of the algorithm is how the monotonically increasing subsequence is found.
Wikipedia calls this the <a href="https://en.wikipedia.org/wiki/Longest_increasing_subsequence">longest increasing subsequence problem</a>,
and gives a basic algorithm to find it.
It uses at every element in the sequence binary search to find the longest increasing subsequence left of the considered element,
this way building up the complete subsequence.
It runs in <script type="math/tex">\mathcal{O}(n \log n)</script>, since it runs binary search <script type="math/tex">n</script> times.
</p>

<h3>Retaining elements</h3>

<p>
The elements that we want to keep on their original position,
are from the largest color class in the <a href="https://en.wikipedia.org/wiki/Graph_coloring">2-coloring of the tree</a>.
For a tree, a 2-coloring is as trivial as it sounds; the color switches at every level.
</p>

<p>
From this color class, we take the longest increasing subsequence (with respect to y-values) when considered in post-order.
Those elements, which are at least <script type="math/tex">\sqrt{n/2}</script> according to Erdős and Szekeres, will stay put.
</p>

<p>
The other elements will iteratively (also in post-order) be placed inbetween (w.r.t. y-value) those unmoved elements.
</p>

Controls:
<ul>
  <li>Drag <strong>left mouse button</strong> to move/select point (in <span color="blue">blue</span>.</li>
  <li><strong>Right mouse button</strong> to spawn point as child from the currently selected point.</li>
  <li><strong>Middle mouse button</strong> removes a point and all of its children.</li>
</ul>
Notes:
<ul>
  <li>The tree is 2-colored in red and black</li>
  <li>Currently, the longest monotonically increasing sequence in post order,
    displayed in <span style="color:red;">red</span>,
  counts r=<strong id="increasing-count">0</strong> elements</li>
  <li>Currently, the longest monotonically decreasing sequence in post order,
    displayed in <span style="color:cyan;">cyan</span>,
  counts s=<strong id="decreasing-count">0</strong> elements</li>
  <li>From Erdős–Szekeres:
    <script type="math/tex">r\cdot s</script>=<span id="r-s">0</span>
    &gt;<span id="n">0</span><script type="math/tex">=n</script></li>
  <li>Maximum amount of moved vertices:
    <script type="math/tex">n-\sqrt{\frac{n}{2}}</script>=
    <span id="max-moved"></span></li>
</ul>
<button id="reset">Reset</button>
<button id="untangle">Untangle</button>

<input type="checkbox" checked="checked" id="lemma1"> Enable Lemma 1

<div id="sketch-holder">
</div>
