---
layout: page
custom_js:
 - "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.4/p5.min.js"
 - cg/lib.js
 - cg/task-2.js
---

Notes:
<ul>
  <li>Points drawn with RIGHT mouse button will not be used for the hull.</li>
  <li>Points drawn in BLUE are outside the polygon formed by the hull.</li>
  <li>Points drawn in RED are inside the polygon formed by the hull.</li>
  <li>For points outside the polygon (in BLUE), the tangent to the polygon is shown in BLUE.</li>
</ul>
<button id="reset">Reset</button>

<div id="sketch-holder">
</div>
