---
layout: page
custom_js:
 - "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.4/p5.min.js"
 - cg/lib.js
 - cg/task-4.js
---

Notes:
<ul>
  <li>Put points with the left mouse button; the convex hull will be drawn.</li>
</ul>
<button id="reset">Reset</button>

<div id="sketch-holder">
</div>
