---
layout: page
custom_js:
 - "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.4/p5.min.js"
 - cg/lib.js
 - cg/task-1.js
---

Notes:
<ul>
  <li>Fourth point will be checked to be in the triangle of the first three points.
  If it's inside, it's red, outside, blue.</li>
  <li>Points of the hull (using Carathéodory's theorem) have a large green circle behind them.</li>
  <li>All points beyond the first have to be in a half plane, with the first point on the separating line.
  This is to guarantee the full order.
  Not obeying this obviouly results in undefined behaviour :-)</li>
</ul>
<button id="reset">Reset</button>

<div id="sketch-holder">
</div>
