---
layout: default
---

<div class="home">

  {% assign post = site.posts.first %}

  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ post.title | escape }}</h1>
      <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
      <p class="permalink">(permalink: <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>)</p>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ post.content }}
    </div>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
  </article>

  <h1>Other posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post == site.posts.first  %}
        {% continue %}
      {% endif %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
